:root {
    --header-height: 60px;

    /*tipografia*/
    --boby-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Rubik', sans-serif;
    --big-font-size: 32px;
    ;
    --big-font-size: 32px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --smaller-font-size: 12px;
    /*grosores*/
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    /*margenes*/
    --mr-1: 8px;
    --mr-2: 16px;
    --mr-3: 20px;
    --mr-4: 26px;
    --mr-5: 32px;
    /*z-index*/
    --z-modal: 10;
    --z-fixed: 100;
    /* sombras */
    --box-shadow: 0px 10px 100px rgba(247, 242, 242, 0.171);

}



@media (min-width: 768px) {
    :root {
        --header-height: 90px;
        --big-font-size: 38px;
        --normal-font-size: 18px;
        --small-font-size: 16px;
        --smaller-font-size: 14px;
    }
}

/*===== Base ======*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* holamujnfodsdkjskjfsn */


body {
    font-family: var(--boby-font);
    font-size: var(--normal-font-size);
    background-color: #73b4d4;
    margin: 0;
    transition: all 0.4s;
}

.modo__body {
    display: flex;
    justify-content: end;
    align-items: center;
}

h1,
h2,
h3,
p {
    text-align: center;
}

ul {

    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    transition: all 0s ease;
    box-shadow: 0.1rem .5rem 1rem #717473f5;
}

/*=======================fhfjdkgjhk==================== provar */
section,
footer {
    margin-bottom: 0px;
    padding: 4rem 1rem;
}

.grid--container {
    max-width: 1024px;
    display: grid;
    margin: 0 var(--mr-3);
}

.Mode__color {
    width: 80px;
    height: 30px;
    transition: transform .3s ease-in-out;
}

.Mode__color:hover {
    transform: translateY(-4px);
}

.Mode__color>button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #75c7ff;
    border: none;
}

.Mode__color>button:hover {
    background-color: #75c8ffb6;
}

/* ======        BTN       ===== */
.btn {
    display: inline-block;
    padding: 1.5rem 4rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.btn--primary {
    color: #080808;
}

.btn:hover {
    transform: translateY(-4px);
}

/* ===============  Header =============== */
.header {
    position: fixed;
    background-color: #1568a9e8;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: var(--box-shadow);
    z-index: var(--z-fixed);
    border-bottom: 1px solid #25252500;
    transition: all 0s ease;
    box-shadow: 0.1rem .5rem 1rem #033f32cf;
}

.navbar {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:768px) {
    .navbar__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        border-radius: 0 0 12px 12px;
        background-color: #1568a9e8;
        box-shadow: 0px 1px 9px 2px #00000024;
        padding: 4.5rem 1rem 2rem;
        transition: .5s;
    }
}

.saludo {
    color: #623ca1;
}



.navbar__logo {
    font-size: 18px;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-semi-bold);
    color: #adadad;
}

.btn__close {
    position: absolute;
    top: var(--mr-2);
    right: var(--mr-2);
    background-color: #ebe6ea;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s;
}

.btn__open,
.btn__close,
.navbar__logo i {
    font-size: 2.2rem;
    color: #141212;
    cursor: pointer;
}

#contenedor-imagen {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.btn_clic {
    background-color: #1698dc;
    color: blue;
    border: none;
    border-radius: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 70px auto;
    cursor: pointer;
    font-weight: var(--font-semi-bold);
  }
  .btn_clic:hover{
    transform: translateY(-4px);
    background-color: #75c7ff;
  }
  .mi_imgen {
    width: 100%;
    height: 400px ;
  }
 
.btn__open {
    background-color: #75c8ffb6;
}

.navbar__logo {
    color: #0f0e0e;
}

.navbar__logo>i {
    font-size: 50px;
}


.btn__close:hover {
    background-color: rgb(236, 1, 1);
}

.navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar__item {
    margin-bottom: var(--mr-2);

}

.navbar__link {
    transition: transform .3s ease-in-out;
    color: #130707;
    font-size: 1.2rem;
    font-weight: var(--font-semi-bold);
}

.navbar__link:hover {
    transform: translateY(-4px);
}

.show--menu {
    top: 0;
}

.home {
    margin-bottom: 0px;
}

.home__container {
    position: relative;
    row-gap: 2rem;
    padding: var(--header-height) 0 3rem;
    margin-bottom: 0px;
}

.home__image {
    display: flex;
    justify-content: center;
    width: clamp(min(320px, 340px), 85vw, 445px);
    height: auto;
    margin: 0 auto;
}

.home__image>img {
    min-width: 377px;
    border-radius: 70px;
    height: 350px;
    margin-bottom: 15px;

}
.home__social {
    top: 10rem;
    left: 1.2rem;
    display: flex;
    justify-content: center;
    row-gap: var(--mr-2);
}
.iconos__social {
    font-size: 50px;
    color: #000000;
}
.iconos__social:hover {
    font-size: 65px;
}

.home__social-link {
    justify-content: center;
    width: 80px;
    font-size: 1.7rem;
    transition: color .3s;
    margin: 8px;

}

.home__social-link:hover {
    color: rgb(15, 15, 15);
}

.home__title {
    font-size: 40px;
    margin: 0;
    margin-bottom: var(--mr-2);
    text-transform: uppercase;
}

.iconos__font-size {
    font-size: 50px;
    margin: 10px;
}

.home__buttons {
    text-align: center;
}

.home__buttons>button {
    background-color: #75c7ff;
}

.home__buttons>button:hover {
    background-color: #75c7ff;
}

.habilidades__cards {
    border: #fff solid 5px;
    display: contents;

}

.habilidades__card--top {

    text-align: center;
    margin: 12px;
}

.experiencia>h2 {

    margin: 0px;
}


.Experiencia__flex,
.Experiencia__mod {
    margin: 1px;
}

.Experiencia__flex {
    border-bottom: #474545 solid 2px;
}


.Experiencia__mod {
    color: #adadad;
    margin: 0;
    padding: 0;
}

/* ============== PORTAFOLIO ================= */
.portafolio {
    background: #0f0f0f00;
}


/*============= contacto ===================*/

.telefono__contact {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.telefono__contact:hover {
    transform: translateY(-4px);
}

.section__grid {

    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.servicio__conten--serv {
    text-align: center;
}

.servicio__conten--serv>img {
    justify-content: center;
}

.contacto {
    background-color: #084ceb6b;
}

/* ejghdshgsoijgsl */
@media screen and (min-width: 768px) {
    section {

        padding: 1rem 0 1rem;
    }

    .btn__open,
    .btn__close {
        display: none;
    }

    .navbar__list {
        flex-direction: row;
        gap: 1rem;
    }

    .navbar__item {
        margin: 0;
    }



    .home__image {
        width: clamp(min(375px, 100%), 48vw, 500px);
        transform: translateY(3.3rem);

    }

    .home__social {
        position: relative;
        top: 0;
        left: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

    }



    .home__title {
        margin-top: 2rem;
        font-size: 2rem;
    }

    .home__description {
        font-size: 1.3rem;
    }

    .home__social-link {
        font-size: 2rem;
    }

    .top {

        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }


    .Experiencia__flex {
        border: none;
        margin: 1px;
        color: #adadad;
    }

    .Experiencia__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 1px;
        border-bottom: #474545 solid;
        align-items: flex-end;
    }

    .Experiencia__mod {
        color: #adadad;
        margin: 0;
        padding: 0;
    }

    .Experiencia__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .portafolio {
        background: #0f0f0f00;
    }

    .galeria-port {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }
}

@media (min-width: 1024px) {
    .grid--container {
        margin: 0 auto;
    }
}

.telefono__contact {
    font-size: 50px;
}

/* === cambio de modo a claro y oscuro ==== */
.darkmode .btn_clic{
    background-color: #595959;
    color: #dad7d7;
}
.darkmode .btn_clic:hover{
    background-color: #808080;
}
.darkmode .btn__open {
    background-color: #252525;
}

.darkmode .btn__open:hover {
    background-color: #474545;
}

body.darkmode {
    background-color: #000000;
    color: white;
}

.darkmode button {
    color: white;
}

.darkmode .Mode__color>button {
    background-color: #2c2929;
}

.darkmode .Mode__color>button:hover {
    background-color: #535353;
}

.darkmode .btn__open,
.darkmode .btn__close,
.darkmode .navbar__logo i {
    font-size: 2.2rem;
    color: #ffffff;
    cursor: pointer;
}

.darkmode .header {
    background-color: #000000;
    border-bottom: 1px solid #585858;
    transition: all 0s ease;
    box-shadow: 0.1rem .5rem 1rem #535353;
}

.darkmode .saludo {
    color: #1698dc;
}

/* ======================== Iconos =========================== */
.darkmode .iconos__social {
    color: white;
    font-size: 50px;
}

.darkmode .iconos__social:hover {
    font-size: 65px;
}

.darkmode .navbar__logo {
    color: #dad3d3;
    font-size: 18px;
}

.darkmode .navbar__logo i {
    font-size: 50px;
}

.darkmode .navbar__list {
    background-color: #000000d2;
}

.darkmode .btn__close,
.darkmode .navbar__menu {
    background-color: #000000d2;
}

.darkmode .btn__close:hover {
    background-color: rgb(236, 1, 1);
}

.darkmode .navbar__link {
    color: white;
}

.darkmode .home__buttons>button {
    background-color: #595959;
}

.darkmode .home__buttons>button:hover {
    background-color: #808080;
}